* {
    margin: 0;
    padding: 0;
}

a {
    color: darkgrey;
    text-align: center;
    font-size: 14px;
}

.goods_box {
    width: 1010px;
    height: 100%;
    margin: 50px auto;
    background-color: rgba(180, 47, 113, 0.212);
    display: flex;
    flex-wrap: wrap;
}

.goods_nav {
    display: inline-block;
    width: 212px;
    margin-left: 16px;
    margin-bottom: 16px;
    background-color: #fff;
    vertical-align: top;
    box-sizing: border-box;
    margin: 20px;
}

.img_nav {
    width: 100%;
    height: 228px;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 8px;
}

.img1 {
    width: 212px;
    height: 228px;
}

.goods_nav:hover a {
    color: #ff6700;
}