*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F3F5F7;
  
}

li {
    list-style: none;
}
.box {
    width: 1912px;
    height:900px;
    /* background-color: rosybrown; */
    /* position: relative; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translateX(-50%) ; */
    border: 4px solid #D4237A;
}
.box .header {
    width: 100%;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    background-color: seagreen;
    text-align: center;
}
.main {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: slateblue;
    justify-content: space-between;
}
.main .left {
    width: 48%;
    height: 100%;
    background-color: springgreen;
}
.main .right {
    width: 48%;
    height: 100%;
    background-color:red;
}
.main .left .shopsinfo {
    width: 100%;
    height: 400px;
    background-color: saddlebrown;
    overflow: auto;
}
.main .left .shopsinfo span{
    padding-left: 50px;
}
.main .left input {
   width: 300px;
   height: 25px;
   margin-top: 2px;
}
